@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height:100vh;
  width:100%;
  background: linear-gradient(to right,rgb(216, 19, 19),rgb(187, 0, 194),rgb(69, 1, 255));
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  width: 25rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 8px 25px 0px rgb(46, 45, 45);
  border-radius: 30px;
}
h1{
  display: flex;
  justify-content: center;
  margin: 30px;
  letter-spacing: 2px; 
  color:rgba(255, 255, 255);
  font-size: 40px;
  opacity: 0.7;
} 
lable{
  margin-left: 10%;
  color:white;
  opacity: 0.8;
}
form:before{
  content: '';
  position: absolute;
  bottom: 3%;
  right: 28%;
  width:180px;
  height: 180px;
  border-radius: 50%;
  z-index: -8;
  opacity: 0.6;
  background:rgb(255, 0, 221);
} 
form:after{
  content: '';
  position: absolute;
  top: 3%;
  right: 58%;
  width:150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0.4;
  background:rgb(255, 0, 211);
} 
input{
  width:80%;
  margin: 10px auto; 
  margin-bottom: 30px; 
  outline: none;
  background: transparent;
  border:none;
  
  border-bottom:1px solid white;
  color:white;
  opacity: 0.9;
} 
 button{
   width: 30%;
   margin: 20px auto;
   padding: 5px;
   border-radius:30px;
   border:none;
   color:white;
   background: rgba(255, 255, 255,0.2);
   letter-spacing: 0.5px;
 }
 a{
   text-decoration: none;
   color:wheat;
 } 
 .f{
   margin-left:30%;
 } 
 .s{
   margin: 10px 0% 0% 40%;
 } 